* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #eafdfc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  background-color: #bfeaf5;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  padding-bottom: 0.7rem;
}

input[type="text"] {
  width: calc(
    100% - 80px
  ); /* Breite des Inputfelds abzüglich Platz für den Button */
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #82aae3;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

input[type="text"]::placeholder {
  color: #aaa;
}

button {
  background-color: #91d8e4;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #82aae3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #eafdfc;
  padding: 0.2rem;
  margin-bottom: 0.3rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 1px 0.5px 2px 0.5px;
}

li .deleteButton {
  background-color: #91d8e4;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 0;
}

li .deleteButton:hover {
  background-color: #82aae3;
}

.deleteButton::before {
  content: "\1F5D1"; /* Unicode für das Papierkorb-Symbol */
  font-size: 16px;
}

.doneButton {
  background-color: #3399ff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.doneButton:hover {
  background-color: #1a8cff;
}
